<div class="text-center container">
    <h1 class="display-5">Pang & Ali Travel</h1>
    <p>Embark on a journey of discovery with P&A Travel, your trusted companion in unveiling the world's marvels. From hidden getaways to iconic landmarks, our site is dedicated to guiding you through the wonders of travel. With expertly curated content and personalized tips, we're here to inspire your next adventure. Explore with us, and let every click bring you a step closer to your dream destination. Welcome to the start of your unforgettable journey</p>
</div>