<div class="container"> 
<nav class="p-4">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active " id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true"><i class="fa-solid fa-plane"></i> Flights</button>
        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false"><i class="fa-solid fa-hotel"></i> Stays</button>
        <button class="nav-link" id="nav-vehicles-tab" data-bs-toggle="tab" data-bs-target="#nav-vehicles" type="button" role="tab" aria-controls="nav-vehicles" aria-selected="false"> <i class="fa-solid fa-car"></i> Vehicles</button>
        <button class="nav-link " id="nav-events-tab" data-bs-toggle="tab" data-bs-target="#nav-events" type="button" role="tab" aria-controls="nav-events" aria-selected="false"><i class="fa-solid fa-parachute-box"></i> Events</button>
    </div>
</nav>

        


</nav>
<div class="tab-content tab-size" id="nav-tabContent">
    <!-- Flight Search Tab -->
    <div class="tab-pane fade show active " id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <form asp-controller="Flights" asp-action="Search" method="get">
            <div class="row mb-3">
                <div class="col col-sm-12 col-lg-2">
                    <label class="form-label">Flight Number: </label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa-solid fa-plane"></i></span>
                        <input type="text" class="form-control" name="flightNumber" placeholder="Flight Number" />
                    </div>
                </div>

                <div class="col col-sm-12 col-lg-2">
                    <label class="form-label">Airline: </label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa-solid fa-plane"></i></span>
                        <input type="text" class="form-control" name="airline" placeholder="Airline" />
                    </div>
                </div>

                <div class="col col-sm-12 col-lg-2">
                    <label class="form-label">From: </label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa-solid fa-plane-departure"></i></span>
                        <input type="text" class="form-control" name="from" placeholder="Departure airport" />
                    </div>
                </div>

                <div class="col col-sm-12 col-lg-2">
                    <label class="form-label">To: </label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa-solid fa-plane-arrival"></i></span>
                        <input type="text" class="form-control" name="to" placeholder="Arrival airport" />
                    </div>
                </div>

                <div class="col col-sm-12 col-lg-2">
                    <label class="form-label">Departure Date/Time: </label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa-solid fa-calendar-days"></i></span>
                        <input type="datetime-local" class="form-control" name="departureDate" />
                    </div>
                </div>

                <div class="col col-sm-12 col-lg-2">
                    <label class="form-label">Arrival Date/Time: </label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa-solid fa-calendar-days"></i></span>
                        <input type="datetime-local" class="form-control" name="arrivalDate" />
                    </div>
                </div>

                <div class="col col-sm-12 col-lg-2">
                    <label class="form-label">Capacity: </label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa-solid fa-users"></i></span>
                        <input type="number" class="form-control" name="capacity" min="1" />
                    </div>
                </div>

                <div class="col col-sm-12 col-lg-2">
                    <label class="form-label">&nbsp;</label>
                    <div class="input-group">
                        <button type="submit" class="btn btn-primary"> <i class="fa-solid fa-search"></i> <b>SEARCH</b> </button>
                    </div>
                </div>
            </div>
        </form>


    <br /><br />

     </div>

    <!-- Stays Search Tab -->
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <form asp-controller="Stays" asp-action="Index" method="get">
            <div class="row mb-3">
                <div class="col col-sm-12 col-lg-4">
                    <label class="form-label">Location: </label>
                    <div class="input-group">
                        <span class="input-group-text" id="Going-to"><i class="fa-solid fa-location-dot"></i></span>
                        <input type="text" class="form-control" name="location" placeholder="Search by Location" />
                    </div>
                </div>
                <div class="col col-sm-12 col-lg-4">
                    <label class="form-label">Hotel Name: </label>
                    <div class="input-group">
                        <span class="input-group-text" id="HotelName"><i class="fa-solid fa-hotel"></i></span>
                        <input type="text" class="form-control" name="hotelName" placeholder="Search by Hotel Name" />
                    </div>
                </div>
                <div class="col col-sm-12 col-lg-2">
                    <label class="form-label">Maximum Room: </label>
                    <div class="input-group">
                        <span class="input-group-text" id="MaxRoom"><i class="fa-solid fa-door-closed"></i></span>
                        <input type="number" class="form-control" name="maxRoom" placeholder="Maximum Room" min="1" />
                    </div>
                </div>
                <div class="col col-sm-12 col-lg-2">
                    <label class="form-label">&nbsp;</label>
                    <div class="input-group">
                        <button type="submit" class="btn btn-primary"> <i class="fa-solid fa-search"></i> <b>SEARCH</b> </button>
                    </div>
                </div>
            </div>
        </form>

       
            <br />
            <br />     
        </div>

    <!-- Vehicle Search Tab -->
    <div class="tab-pane fade" id="nav-vehicles" role="tabpanel" aria-labelledby="nav-vehicles-tab">
        
        <form asp-controller="Vehicles" asp-action="Search" method="get">
 
                <div class="row mb-3">
                    <div class="col-md-3">
                        <label class="form-label">Location:</label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                            <input type="text" class="form-control" placeholder="Location" name="location" aria-label="Location">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Model:</label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="fas fa-car"></i></span>
                            <input type="text" class="form-control" placeholder="Model" name="model" aria-label="Model">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label class="form-label">Min Capacity:</label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="fas fa-users"></i></span>
                            <input type="number" class="form-control" placeholder="Min Capacity" name="minCapacity" min="1" aria-label="Min Capacity">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label class="form-label">Max Capacity:</label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="fas fa-users"></i></span>
                            <input type="number" class="form-control" placeholder="Max Capacity" name="maxCapacity" min="1" aria-label="Max Capacity">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label class="form-label">Availability:</label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="fas fa-check"></i></span>
                            <select class="form-select" name="availability">
                                <option value="true">Available</option>
                                <option value="false">Not Available</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 text-center">
                        <button type="submit" class="btn btn-primary mt-3"><i class="fas fa-search"></i> Search</button>
                    </div>
                </div>
            </form>

        </div>

    <!-- Event Search Tab -->


        <div class="tab-pane fade" id="nav-events" role="tabpanel" aria-labelledby="nav-events-tab">

                <form asp-controller="Events" asp-action="Search" method="get">

            <div class="row mb-3">
                <div class="col col-sm-12 col-lg-4">
                    <label class="form-label">Location: </label>
                    <div class="input-group">
                        <span class="input-group-text" id="Going-to"><i class="fa-solid fa-location-dot"></i></span>
                        <input type="text" class="form-control" name="location" placeholder="Going to" aria-label="Going to" aria-describedby="Going-to">
                    </div>
                </div>
                <div class="col col-sm-12 col-lg-3">
                    <label class="form-label">Date: </label>
                    <div class="input-group">
                        <span class="input-group-text" id="From"><i class="fa-solid fa-calendar-days"></i></span>
                        <input type="date" class="form-control" name="date" aria-label="Date" aria-describedby="From">
                    </div>
                </div>

                <div class="col col-sm-12 col-lg-2">
                    <label class="form-label">Tickets: </label>
                    <div class="input-group">
                        <span class="input-group-text" id="NoofPeople"><i class="fa-solid fa-users"></i></span>
                        <input type="number" class="form-control" name="tickets" aria-label="Tickets" aria-describedby="To" min="1" value="1">
                    </div>
                </div>

                <div class="col col-sm-12 col-lg-2">
                    <label class="form-label">&nbsp;</label>
                    <div class="input-group">
                        <button type="submit" class="btn btn-primary btn"> <i class="fa-solid fa-search"></i> <b>SEARCH</b> </button>
                    </div>
                </div>
            </div>
        </form>
        <br /><br />
    </div>


</div>

</div>