@{
    ViewData["Title"] = "Home Page";
}
<main>
<div class="bg-light">
    <div class="container">
      @Html.Partial("_SearchBar.cshtml")
    </div>
</div>
<div class="bg-gold p-3">
    @Html.Partial("_AboutUs.cshtml")
</div>
<div class="bg-light">
    @Html.Partial("_PopularDestinations.cshtml")

   
    </div>
</main>