
       <br />
        <h2>Populer Vehicles</h2>

        <div class="row">
        <div class="col-md-3 col-sm-6 col-lg-3 mt-3">
        <div class="card" style="width: 18rem;">
                <img class="card-img-top" height="175" src="https://cdn.pixabay.com/photo/2016/06/28/17/55/maligne-river-1485060_1280.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Jasper</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">See Stays</a>
            </div>
        </div>
        
        <div class="col-md-3 col-sm-6 col-lg-3 mt-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" height="175" src="https://cdn.pixabay.com/photo/2023/04/05/19/46/photographer-7902219_1280.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Toronto</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">See Stays</a>
            </div>
        </div>
        </div>
        <div class="col-md-3 col-sm-6 col-lg-3 mt-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" height="175" src="https://cdn.pixabay.com/photo/2023/04/22/08/27/canada-7943300_1280.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Quebeck City</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">See Stays</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-lg-3 mt-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" height="175" src="https://cdn.pixabay.com/photo/2014/10/28/03/00/montreal-506130_1280.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Montreal</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">See Stays</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-6 col-lg-3 mt-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://cdn.pixabay.com/photo/2012/12/19/04/04/calgary-70848_1280.jpg" height="175" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Calgary</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">See Stays</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-lg-3 mt-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://cdn.pixabay.com/photo/2013/08/19/22/33/edmonton-174104_1280.jpg" height="175" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Edmonton</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">See Stays</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-lg-3 mt-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://cdn.pixabay.com/photo/2021/07/06/14/48/andrew-haydon-park-6391831_1280.jpg" height="175"  alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Winnipeg</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">See Stays</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-lg-3 mt-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://cdn.pixabay.com/photo/2016/02/07/14/37/canada-1184870_1280.jpg" height="175" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Ottawa</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">See Stays</a>
                </div>
            </div>
        </div>
    </div>
    </div>
    <br />
    <br />
        
