/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-kkqomq1rzo] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  color: wheat;
}


a[b-kkqomq1rzo] {
  color: white !important;
}




a:hover[b-kkqomq1rzo], a:focus[b-kkqomq1rzo] {
    color:wheat;
}
.btn-primary[b-kkqomq1rzo] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-kkqomq1rzo], .nav-pills .show > .nav-link[b-kkqomq1rzo] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-kkqomq1rzo] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-kkqomq1rzo] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-kkqomq1rzo] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-kkqomq1rzo] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-kkqomq1rzo] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

.bg-purple[b-kkqomq1rzo] {
    background-color: rebeccapurple;
    color: white;
}