
<nav class="p-4">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">

        <button class="nav-link active" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-events" type="button" role="tab" aria-controls="nav-events" aria-selected="true"><i class="fa-solid fa-parachute-box"></i> Events</button>

    </div>
</nav>
<div class="tab-content tab-size" id="nav-tabContent">
     
    <div class="tab-pane fade show active" id="nav-events" role="tabpanel" aria-labelledby="nav-profile-tab">

        <form>
            <div class="row mb-3">
                <div class="col col-sm-12 col-lg-4">
                    <label class="form-label">Location: </label>
                    <div class="input-group">
                        <span class="input-group-text" id="Going-to"><i class="fa-solid fa-location-dot"></i></span>
                        <input type="text" class="form-control" placeholder="Going to" aria-label="Going to" aria-describedby="Going-to">
                    </div>
                </div>
                <div class="col col-sm-12 col-lg-3">
                    <label class="form-label">Date: </label>
                    <div class="input-group">
                        <span class="input-group-text" id="From"><i class="fa-solid fa-calendar-days"></i></span>
                        <input type="date" class="form-control" placeholder="Dates" aria-label="Dates" aria-describedby="From" placeholder="From">
                    </div>
                </div>
             
                <div class="col col-sm-12 col-lg-2">
                    <label class="form-label">Tickets: </label>
                    <div class="input-group">
                        <span class="input-group-text" id="NoofPeople"><i class="fa-solid fa-users"></i></span>
                        <input type="number" class="form-control" value="1" aria-label="Dates" aria-describedby="To" placeholder="To" min="1" width="12">
                    </div>

                </div>

                <div class="col col-sm-12 col-lg-2">
                    <label class="form-label">&nbsp</label>
                    <div class="input-group">
                        <button type="submit" class="btn btn-primary btn"> <i class="fa-solid fa-search"> </i> <b>SEARCH</b> </button>
                    </div>

                </div>

            </div>
        </form>
        <br />
        <br />
    </div>


